{
    "jempiRootPath": "<aPath>",
    "jempiAppPath": "JeMPI_Apps",
    "javaHome": "a/path/java",
    "mavenHome": "a/path/mvn",
     "uiEnv": {
        "REACT_APP_SHOW_BRAND_LOGO": false
    },
    "appEnv": {
        "async_reciever": {
            "UPLOAD_CSV_PATH": "a/path/csv_uploads"
        }, 
        "api": {
            "UPLOAD_CSV_PATH": "a/path/csv_uploads"
        }
    }
}